[Desktop Entry]
Encoding=UTF-8
Name=Simplecointest
Comment=Simplecointest P2P Cryptocurrency
Comment[fr]=Simplecointest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Simplecointest, eşten eşe kriptografik sanal para birimi
Exec=simplecointest-qt %u
Terminal=false
Type=Application
Icon=simplecointest128
MimeType=x-scheme-handler/simplecointest;
Categories=Office;Finance;
