[Unit]
Description=Simplecointest's distributed currency daemon
After=network.target

[Service]
User=simplecointestcore
Group=simplecointestcore

Type=forking
PIDFile=/var/lib/simplecointestd/simplecointestd.pid
ExecStart=/usr/bin/simplecointestd -daemon -pid=/var/lib/simplecointestd/simplecointestd.pid \
-conf=/etc/simplecointestcore/simplecointest.conf -datadir=/var/lib/simplecointestd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
